#*
#*#
*#
*.*#
*.class
*.dSYM
*.la
*.lo
*.o
*.so
*.swo
test

*.swp
*.swn

output/

test_big_cf
test_big_cf_int
test_busc
test_ori
test_yo
test_split_cf_adaptive
test_split_cf_adaptive_ori
test_split_cf_adaptive_int
test_split_cf_adaptive_int_ori
